@font-face {
  font-family: 'devioussans-bold';
  font-style: bold;
  font-weight: 400;
  src: url('./fonts/devioussans-02-bold.woff2');
}

@font-face {
  font-family: 'devioussans-light';
  font-style: light;
  font-weight: 400;
  src: url('./fonts/devioussans-02-light.woff2');
}

@font-face {
  font-family: 'devioussans-medium';
  font-style: medium;
  font-weight: 400;
  src: url('./fonts/devioussans-02-medium.woff2');
}

@font-face {
  font-family: 'devioussans-regular';
  font-style: regular;
  font-weight: 400;
  src: url('./fonts/devioussans-02-regular.woff2');
}

body {
  margin: 0;
  font-family: 'devioussans-regular';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
