@font-face {
  font-family: 'Bold';
  font-style: bold;
  font-weight: 500;
  src: url(./font/devioussans-02-bold.woff2);
}


@font-face {
  font-family: 'Regular';
  font-style: light;
  font-weight: 500;
  src: url(./font/devioussans-02-light.woff2);
}

@font-face {
  font-family: 'Symbol';
  font-style: normal;
  font-weight: 500;
  src: url(./font/deviantart-symbols6.woff2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
